
p{
    background-color: aquamarine;
    text-decoration: solid;
    text-align: center; 
}

h1{
    background-color: dimgray;
    text-shadow: aliceblue;
    color: azure;
}

.h1{
    background-color: brown;
    color: black;
}

